body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 1000px;
    height: 150px;
}
.header {
    height: 100px;
    background-color: darkgreen;
    border : 5px solid black ;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}
.main {
    height: 420px;
    display: flex;
}
.main_left  {
    width: 70%;
    height: 420px;
    display: flex;
    flex-wrap: wrap;
}
.main_right {
    width: 30%;
    background-color: #06066b;
    height: 420px;
    border : 5px solid black ;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}
.item {
    width: 225px;
    border : 5px solid black ;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 2px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #032a25;
    color: black;
}